.space {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;

  position: absolute;
  bottom: 10px;
}
.btn {
  margin-left: 70px;
}
.jaime {
  position: absolute;
  top: 25px;
  right: 25px;
  color: red;
}

.ratingCard {
  direction: rtl;
  width: 50%;
}
.ratingCard a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.7em;
  transition: color 0.4s;
}
.ratingCard a:hover,
.ratingCard a:focus,
.ratingCard a:hover ~ a,
.ratingCard a:focus ~ a {
  color: yellow;
  cursor: pointer;
}
